<mat-card *ngIf="post" class="post">
  <mat-card-header>
    <img class="link"
         mat-card-avatar
         matTooltip="{{ post.leagueAdmin.username | titlecase }}"
         routerLink="/profile/{{ post.leagueAdmin.id }}"
         src="{{ post.leagueAdmin.imageSource }}"
         alt="{{ post.leagueAdmin.username }}'s profile picture"
    >
    <mat-card-title
      class="link"
      routerLink="/league-posts/{{ post.leagueId }}">
      {{ post.name }}
    </mat-card-title>
    <mat-card-subtitle>{{ post.gameType }} | {{ post.timestamp | date}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <img class="league-image link"
         routerLink="/league-posts/{{ post.leagueId }}"
         src="{{ post.imageSource }}"
         alt="#{{ post.id }}League Post's Image">

    <app-icons
      [numberOfComments]="post.comments.length"
      [numberOfPlayers]="post.numberOfPlayers"
      [numberOfRounds]="post.numberOfRounds">
    </app-icons>
  </mat-card-content>
</mat-card>
