div.league-post {
  width: 450px;
  height: auto;
  background-color: aliceblue;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 2s ease;

}
div.league-post:hover {
  background-color: #eaf3fd;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
img.league-image {
  width: 400px;
  height: auto;
}
div.league-admin {
  background-color: #77a3cb;
}
img.league-admin-picture {
  width: 50px;
  height: auto;
  background-color: brown;
  border-radius: 30px;
}
p.gameType {
  font-size: 1.5em;
  color: #565c5e;
  background-color: #77a3cb;
  border-radius: 20px;

}


