.user-post {
  width: 70vw;
  margin: 15px;
}

.user-post .user-image {
  background-image: url("https://i.pinimg.com/originals/dc/10/c6/dc10c67988996b6fcd82384a23971adf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.user-post button {
  margin: 5px;
}

.details {
  align-self: start !important;
}

