<mat-card *ngIf="leaguePost && postDetails">
  <mat-card-header>
    <mat-card-title>{{ leaguePost.name }}</mat-card-title>
    <mat-card-subtitle>{{ leaguePost.gameType }}</mat-card-subtitle>
    <img mat-card-avatar src="{{ leaguePost.leagueAdmin.imageSource }}"
         alt="{{ leaguePost.leagueAdmin.username }}'s profile picture">
  </mat-card-header>

  <mat-card-content>

    <img src="{{ postDetails.imageSource }}" alt="league image">
    <div class="league-details">
      <h2>Rounds: </h2>
      <p>Started: <span>{{ postDetails.numberOfRounds }}</span></p>
      <p>Finished: <span>{{ postDetails.numberOfFinishedRounds }}</span></p>
      <p>In progress: <span>{{ postDetails.numberOfInProgressRounds }}</span></p>
    </div>

    <h2>Players:</h2>
    <div class="players" >
      <mat-card class="player shadow"
                *ngFor="let player of postDetails.leaguePlayers"
                [ngClass]="leaguePost.leagueAdmin.id == player.id ? 'admin-player' : 'casual-player'"
                routerLink="/profile/{{ player.id }}">
        <mat-card-header>
          <mat-card-title class="">{{ player.username }}#{{ player.id }}</mat-card-title>
          <mat-card-subtitle>{{ leaguePost.leagueAdmin.id == player.id ? "Admin": "Player" }}</mat-card-subtitle>
<!--          <mat-card-subtitle>{{ player.firstName |titlecase }} {{ player.lastName | titlecase }}</mat-card-subtitle>-->
          <img mat-card-avatar src="{{ player.imageSource }}" alt="{{ player.username }}'s profile page">
        </mat-card-header>
      </mat-card>
    </div>

    <mat-card-footer>
      <div class="comments" *ngIf="hasComment()">
        <div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="comment"></mat-icon>
          <small>{{ leaguePost.comments.length }}</small>
        </div>
        <app-comment *ngFor="let comment of leaguePost.comments" [comment]="comment"></app-comment>
      </div>
      <div *ngIf="!hasComment()">
        <h3>No comments yet</h3>
      </div>
    </mat-card-footer>

  </mat-card-content>

</mat-card>
