<div *ngIf="user" class="comment-form">
  <div class="comment-head">
    <img class="profile-picture" alt="{{user.username}}'s profile picture" src="{{user.imageSource}}">
    <div class="comment-head-text">
      <p class="user-full-name">{{user.firstName}} {{user.lastName}}</p>
      <p class="username">@{{user.username}}</p>
    </div>
  </div>
  <div class="separator"></div>

  <form [formGroup]="checkoutForm" (ngSubmit)="addComment()">
    <textarea id="description" class="description" formControlName="description"></textarea>
    <br>
    <button type="submit" class="submit-btn">Submit</button>
  </form>
</div>
